<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/posts/color.index', posts: @posts %>
    </div>

    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@post.user) do %>
            <%= image_tag @post.user.get_profile_image, size:"100x100" %><br>
            <%= @post.user.user_name %>
            <% end %>
          </td>
          <td><%= link_to @post.title, @post %></td>
          <td><%= @post.content %></td>
          <td id="favorite_btn_<%= @post.id %>">
            <%= render "public/favorites/btn", post: @post %>
          </td>
          <td id="comment_counter">
            <%= render "public/comments/counter", post: @post %>
          </td>
          <% if @post.user == current_user %>
            <td><%= link_to '編集', edit_post_path(@post), class: "btn btn-sm btn-success edit_book_#{@post.id}" %></td>
            <td><%= link_to '削除', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@postid}"%></td>
          <% end %>
        </tr>
      </table>

      <div id="comment_index">
        <%= render "public/comments/index", post: @post %>
      </div>
      <div>
        <%= render "public/comments/form", post: @post, comment: @comment %>
      </div>
    </div>
  </div>
</div>