<div class="container">
  <h3 class="mx-auto w-50 text-center">
    投稿詳細情報
  </h3>
  <table class="mx-auto">
    <tbody>
      <tr>
        <td>投稿ID</td>
        <td><%= @post.id %></td>
      </tr>

      <tr>
        <td>色彩名</td>
        <td><%= @post.color.name %></td>
      </tr>

      <tr>
        <td>投稿画像</td>
        <td><%= image_tag @post.get_image, size:"100x100" %></td>
      </tr>

      <tr>
        <td>タイトル</td>
        <td><%= @post.title %></td>
      </tr>

      <tr>
        <td>投稿内容</td>
        <td><%= @post.content %></td>
      </tr>

      <tr>
        <td class="p-2" >
          <%= link_to "編集する", edit_admin_post_path, class:'btn btn-success px-3' %>
        </td>
        <td class="p-2" >
          <%=link_to "投稿一覧に戻る", admin_posts_path, class:'btn btn-primary px-3' %>
        </td>
      </tr>
    </tbody>
  </table>
</div>