<div class= "container" >
  <div class= "mx-auto w-50 bg-light text-center" >
  <p>色彩実装一覧</p>
  </div>

  <div class="row my-3 justify-content-center">
    <div class="col-lg-6">
      <%= form_with model: @color, url: admin_colors_path do |f| %>
        <%= f.label :color_image, "背景画像を設定" %>
        <%= f.file_field :color_image, accept: "image/*"%>
        <%= f.label :name, "色彩名", class:'mr-5' %>
        <%= f.text_field :name, placeholder: '色彩名' %>
        <%= f.submit "新規登録", class: 'btn btn-success ml-5' %>
      <% end %>
    </div>
  </div>

  <div class="row my-3 justify-content-center">
    <div class="col-lg-6">
      <table class="table">
        <thead class="bg-light">
          <tr>
            <th>色彩名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @colors.each do |color| %>
          <tr>
            <td width="50%">
              <div class="color_box">
                <%= image_tag color.get_color_image, class: 'box_image' %>
                <p>
                  <%= color.name %>
                </p>
              </div>
            </td>
            <td>
              <%= link_to '編集する', edit_admin_color_path(color), class: 'btn btn-success' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="d-flex justify-content-center" >
    <%= paginate @colors %>
  </div>
</div>