<div class="container">
  <div class="mx-auto w-50 text-center">
    <h3><%= @user.user_name %>さんの情報編集</h3>
  </div>

  <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
  <table class="d-flex justify-content-center">
    <tbody>
      <tr>
        <td>ユーザーID</td>
        <td><%= @user.id %></td>
      </tr>

      <tr>
        <td><%= f.label :image, "画像を設定" %></td>
        <td><%= f.file_field :profile_image, accept: "image/*"%></td>
      </tr>

      <tr>
        <td><%= f.label :user_name, "ユーザーネーム" %></td>
        <td><%= f.text_field :user_name %></td>
      </tr>

      <tr>
        <td><%= f.label :user_name_kana, "ユーザーネームフリガナ" %></td>
        <td><%= f.text_field :user_name_kana %></td>
      </tr>

      <tr>
        <td><%= f.label :occupation, "職業" %></td>
        <td><%= f.text_field :occupation %></td>
      </tr>

      <tr>
        <td><%= f.label :introduction, "自己紹介" %></td>
        <td><%= f.text_area :introduction %></td>
      </tr>

      <tr>
        <td><%= f.label :email, "メールアドレス" %></td>
        <td><%= f.email_field :email %></td>
      </tr>

      <tr>
        <td><%= f.label :is_active, "会員ステータス" %></td>
        <td>
          <span>
            <%= f.radio_button :is_active, true, id:'inputStatusTrue' %>
            <label for="inputStatusTrue" class="col-form-label">有効</label>
          </span>
          <span>
            <%= f.radio_button :is_active, false, id:'inputStatueFalse' %>
            <label for="inputStatusFalse" class="col-form-label">退会</label>
          </span>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="d-flex justify-content-center" >
    <div class="p-2">
      <%= f.submit'編集内容を保存', class: "btn btn-success" %>
    </div>
    <div class="p-2">
      <%= link_to "ユーザを削除", admin_user_path(@user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>

  <% end %>
</div>